*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(11, 98, 98);
    position: relative;

}

 /* About Us part start  */
nav{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
    

}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(207, 216, 215);
    font-size: 20px;

}
nav ul li a:hover{
    color: black;
    transition: none;

}

nav img{
    width: 200px;
    position: relative;
    
}

.aboutUsContent{
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;

}

.aboutUsContent img{

    width: 430px;
    height: 450px;
    border-radius: 12px;
    border: 2px solid white;
}

.aboutUsText{
    text-align: center;
    padding: 60px;
    font-size: 20px;
    color: aliceblue;
}

 /* About Us part finish */
 /* Project part start */
 .center h2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    color: aliceblue;
    font-weight: bold;
 }

 .projects-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
 }

 .row img{
    width: 500px;
    height: 300px;
    margin: 30px;
    
 }

 .row{
    border-radius: 3px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px black;
    margin: 50px;
 }

 .row p{
    text-align: center;
    color: aliceblue;
    font-size: large;
 }
 
 /* Project part finish */
/* Contact us part start */
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.form h2{
    color: aliceblue;
    margin-bottom: 20px;   
}

.form input{
    background-color: aliceblue;
    width: 300px;
    height: 20px;
    margin: 10px;
}
.form label{
    color: aliceblue;
    font-weight: bold;
    margin: 5px;
}

.form textarea{
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px;
    border-radius: 12px;
}
.submitbutton{
    background-color: bisque;
    border: rgb(0, 0, 0) 2px;
    border-radius: 8px;
    width: 150px;
    height: 20px;
}
/* Contact us part finish */